-- Verificar se os artigos foram inseridos com sucesso
SELECT 
  id,
  title,
  LENGTH(title) as title_length,
  LENGTH(content) as content_length,
  category_id,
  (SELECT name FROM categories WHERE id = articles.category_id) as category_name,
  created_at
FROM articles 
WHERE title LIKE '%TESTE%'
ORDER BY created_at DESC;
